/* ---------- HOVER ME (IMAGE) -------------- */

.hoverMe {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*.hoverMe:hover {
	transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}*/


.hoverMe .hmContent {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
    opacity: 0;
    color: rgba(0,0,0,1);
    background-color: rgba(112,69,92,.40);
}

.hoverMe:hover .hmContent {
    opacity: 1;
}

.hoverMe .hmContent:hover {
    color: rgba(0,0,0,1);
}

.hoverMe .hmContent .hmDesc {
    font-size: .9em;
    line-height: 1.1em;
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 100%;
    padding: 8px 8px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    color: rgba(63,63,63,1);
    background-color: rgba(255,255,255,1);
}

.hoverMe .hmContent .hmDesc h7 {
    display: block;
    margin-bottom: 3px;
    color: rgba(135,21,83,1);
}

.hoverMe:hover .hmContent .hmDesc {
    bottom: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

.hoverMe .hmButtons {
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    -webkit-transition: bottom .25s ease-in-out, opacity .2s ease-in-out;
    -webkit-transition: bottom  .25s ease-in-out, opacity .2s ease-in-out;
    transition: bottom  .25s ease-in-out, opacity .2s ease-in-out;
    text-align: center;
    opacity: 0;
}

.hoverMe:hover .hmButtons {
    opacity: 1;
}

.hoverMe:hover .posB {
    bottom: 15%;
}

.hoverMe:hover .posM {
    bottom: 40%;
}

.hoverMe .hmButtons .hmBtn {
    margin: 0 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
    opacity: .7;
    color: #000;
}

.hoverMe .hmBtn:hover {
    opacity: 1;
}

.hoverMe .hmCountImage {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 35px;
    position: absolute;
    z-index: 30;
    bottom: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    padding-left: 35px;
    text-align: left;
    color: #000;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
}
