@-webkit-keyframes herbyIn{
    from{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);visibility:visible}to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}
@keyframes herbyIn{
    from{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);visibility:visible}to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}

.herbyIn{-webkit-animation-name:herbyIn;animation-name:herbyIn}

@-webkit-keyframes herbyOut{
    from{opacity:1}to{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
}
@keyframes herbyOut{
    from{opacity:1}to{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
}

.herbyOut{-webkit-animation-name:herbyOut;animation-name:herbyOut}

.herbyCookieConsent{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    width:100%;
    background:#f6f6f6 none repeat scroll 0 0;
    color:#424242;
    box-sizing:border-box;
    padding:10px 20px;
    vertical-align:middle;
    z-index:90000;
    display:inline-block;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.herbyCookieConsent.dark {
    background-color:#222;
    color:#fff;
}

.herbyCookieConsent.light {
    background-color:#f6f6f6;
    color:#424242;
}

.herbyCookieConsent p{
    display:inline-block;
    font-size:12px;
    width:80%;
    float:left;
    font-family:"Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue","Calibri","Helvetica","Arial";
    margin-top:5px;
}

.herbyCookieConsent p a{
    color:#31a8f0;
}

.herbyCookieConsent .herbyBtn{
    float:right;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    padding:8px;
    font-size:15px;
    line-height:15px !important;
    position:relative;
    border-radius:5px;
    overflow:hidden;
    display:inline-block;
    word-wrap:break-word;
    background-color:#d32d27;
    color:#fff;
    width:auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    vertical-align:middle;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    tap-highlight-color:rgba(255,255,255,0)
}

.herbyCookieConsent .herbyBtn:hover{
    background-color:#c22a24;border-color:#910101;color:#fff;text-decoration:none;outline:none
}
    
.herbyCookieConsent .herbyBtn:focus{
    text-decoration:none;outline:none
}

.herbyCookieConsent .herbyBtn:active{
    background-color:#af0806;border-color:#af0806;color:#fff;padding-top:13px;padding-bottom:6px
}

@media all and (max-width:1000px){
    .herbyCookieConsent p{width:66%;font-size:.8em}
    .herbyCookieConsent .herbyBtn{padding:9px 8px 8px 8px}
    .herbyCookieConsent .herbyBtn:active{padding-top:12px;padding-bottom:5px}
}

@media all and (max-width:500px){
    .herbyCookieConsent{text-align:center}
    .herbyCookieConsent p{width:100%;float:none;text-align:left;font-size:.7em}
    .herbyCookieConsent .herbyBtn{float:none;margin-top:10px;padding:6px 8px 5px 8px}
    .herbyCookieConsent .herbyBtn:active{padding-top:9px;padding-bottom:2px}
}