/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider
{
    position: relative;

    width: 600px;
    height: 400px;

    direction: ltr;
}
.royalSlider > *
{
    float: left;
}

.rsWebkit3d .rsSlide
{
    -webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink
{
    -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer
{
    -webkit-transform: none;
}
.rsOverflow
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsVisibleNearbyWrap
{
    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow
{
    position: absolute;
    top: 0;
    left: 0;
}
.rsContainer
{
    position: relative;

    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow
{
    cursor: pointer;
}

.rsThumb
{
    position: relative;

    float: left;
}


.rsArrow,
.rsNav,
.rsThumbsArrow
{
    -webkit-transition: opacity .3s linear;
            transition: opacity .3s linear;

    opacity: 1;
}
.rsHidden
{
    visibility: hidden;

    -webkit-transition: visibility 0s linear .3s,opacity .3s linear;
            transition: visibility 0s linear .3s,opacity .3s linear;

    opacity: 0;
}


.rsGCaption
{
    float: left;

    width: 100%;

    text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen
{
    position: fixed !important;
    z-index: 2147483647 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;

    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader
{
    display: none;

    -webkit-transition: 0s;
            transition: 0s;

    opacity: 1 !important;
}

.rsSlide
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide
{
    height: auto;
}

.rsContent
{
    position: relative;

    width: 100%;
    height: 100%;
}

.rsPreloader
{
    position: absolute;
    z-index: 0;
}

.rsNav
{
    -webkit-user-select:      none;
       -moz-user-select: -moz-none;
        -ms-user-select:      none;
            user-select:      none;
}
.rsNavItem
{
    -webkit-tap-highlight-color: rgba(0,0,0,.25);
}

.rsThumbs
{
    position: relative;
    z-index: 22;

    float: left;
    overflow: hidden;

    cursor: pointer;
}
.rsTabs
{
    float: left;

    background: none !important;
}
.rsTabs,
.rsThumbs
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.rsVideoContainer
{
    line-height: 0;

    position: relative;

    width: auto;
    height: auto;
}
.rsVideoFrameHolder
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: .3s;

    opacity: 0;
    background: #141414;
}
.rsVideoFrameHolder.rsVideoActive
{
    opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj
{
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed
{
    box-sizing: border-box;
    padding-right: 44px;
}

.rsABlock
{
    font-size: .9em;
    line-height: 1.1em;

    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 8px 8px;

    color: #000;
    background-color: rgba(255,255,2555,1);
}

img.rsImg
{
    max-width: none;
}

.grab-cursor
{
    cursor: url(images/grab.png) 8 8, move;
}

.grabbing-cursor
{
    cursor: url(images/grabbing.png) 8 8, move;
}

.rsNoDrag
{
    cursor: auto;
}

.rsLink
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: url(images/blank.gif);
}
