/******************************
*
*  RoyalSlider Default Skin 
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs
{
    color: #fff;
    background: #141414;
}


/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow
{
    position: absolute;
    z-index: 21;

    display: block;

    width: 44px;
    height: 100%;

    cursor: pointer;
}
.rsDefault.rsVer .rsArrow
{
    width: 100%;
    height: 44px;
}
.rsDefault.rsVer .rsArrowLeft
{
    top: 0; left: 0;
}
.rsDefault.rsVer .rsArrowRight
{
    bottom: 0;  left: 0;
}

.rsDefault.rsHor .rsArrowLeft
{
    top: 0;
    left: 0;
}
.rsDefault.rsHor .rsArrowRight
{
    top: 0;
    right: 0;
}

.rsDefault .rsArrowIcn
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;

    cursor: pointer;

    border-radius: 2px;
    background: url('images/rs-default.png');
    background-color: #000;
    background-color: rgba(0,0,0,.75);

    *background-color: #000;
}
.rsDefault .rsArrowIcn:hover
{
    background-color: rgba(0,0,0,.9);
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn
{
    background-position: -64px -32px;
}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn
{
    background-position: -64px -64px;
}

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn
{
    background-position: -96px -32px;
}
.rsDefault.rsVer .rsArrowRight .rsArrowIcn
{
    background-position: -96px -64px;
}

.rsDefault .rsArrowDisabled .rsArrowIcn
{
    opacity: .2; filter: alpha(opacity=20);  *display: none;
}


/***************
*
*  2. Bullets
*
****************/

.rsDefault .rsBullets
{
    line-height: 8px;

    position: absolute;
    z-index: 35;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: auto;
    margin: 0 auto;

    text-align: center;

    background: #000;
    background: rgba(0,0,0,.75);
}
.rsDefault .rsBullet
{
    display: inline-block;

    width: 8px;
    height: 8px;
    padding: 6px 5px 6px;

    *display: inline;
    *zoom: 1;
}
.rsDefault .rsBullet span
{
    display: block;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background: #777;
    background: rgba(255,255,255,.5);
}
.rsDefault .rsBullet.rsNavSelected span
{
    background-color: #fff;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsDefault .rsThumbsHor
{
    width: 100%;
    height: 72px;
}
.rsDefault .rsThumbsVer
{
    position: absolute;
    top: 0;
    right: 0;

    width: 96px;
    height: 100%;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer
{
    position: relative;

    height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer
{
    position: relative;

    width: 100%;
}
.rsDefault .rsThumb
{
    float: left;
    overflow: hidden;

    width: 96px;
    height: 72px;
}
.rsDefault .rsThumb img
{
    width: 100%;
    height: 100%;
}
.rsDefault .rsThumb.rsNavSelected
{
    background: #02874a;
}
.rsDefault .rsThumb.rsNavSelected img
{
    opacity: .3;

    filter: alpha(opacity=30);
}
.rsDefault .rsTmb
{
    display: block;
}

/* Thumbnails with text */
.rsDefault .rsTmb h5
{
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    color: #fff;
}
.rsDefault .rsTmb span
{
    font-size: 13px;
    line-height: 18px;

    margin: 0;
    padding: 0;

    color: #ddd;
}



/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow
{
    position: absolute;
    z-index: 21;

    display: block;

    width: 20px;
    height: 100%;

    cursor: pointer;

    background: #000;
    background: rgba(0,0,0,.75);
}
.rsDefault .rsThumbsArrow:hover
{
    background: rgba(0,0,0,.9);
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow
{
    width: 100%;
    height: 20px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft
{
    top: 0; left: 0;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight
{
    bottom: 0;  left: 0;
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft
{
    top: 0;
    left: 0;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight
{
    top: 0;
    right: 0;
}

.rsDefault .rsThumbsArrowIcn
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;

    cursor: pointer;

    background: url('images/rs-default.png');
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn
{
    background-position: -128px -32px;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn
{
    background-position: -128px -48px;
}

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn
{
    background-position: -144px -32px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn
{
    background-position: -144px -48px;
}

.rsDefault .rsThumbsArrowDisabled
{
    display: none !important;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0) and (max-width: 800px)
{
    .rsDefault .rsThumb
    {
        width: 59px;
        height: 44px;
    }
    .rsDefault .rsThumbsHor
    {
        height: 44px;
    }
    .rsDefault .rsThumbsVer
    {
        width: 59px;
    }
}




/***************
*
*  4. Tabs
*
****************/

.rsDefault .rsTabs
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: auto;
    margin: 0 auto;     padding-top: 12px;

    text-align: center;
}
.rsDefault .rsTab
{
    display: inline-block;

    width: auto;
    min-width: 72px;
    height: auto;
    padding: 5px 13px 6px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #d9d9dd;
    border-right: 1px solid #f5f5f5;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background-image:         linear-gradient(to bottom, #fff, #f5f5f5);
    box-shadow: inset 1px 0 0 #fff;

    *display: inline;
    *zoom: 1;
}
.rsDefault .rsTab:first-child
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rsDefault .rsTab:last-child
{
    border-right: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.rsDefault .rsTab:active
{
    border: 1px solid #d9d9dd;
    background-color: #f5f5f5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2) inset;
}
.rsDefault .rsTab.rsNavSelected
{
    color: #fff;
    border: 1px solid #999;
    background: #aaa;
    background-image: -webkit-linear-gradient(top, #aaa, #bbb);
    background-image:         linear-gradient(to bottom, #aaa, #bbb);
    box-shadow: 0 1px 9px rgba(102, 102, 102, .65) inset;
    text-shadow: 1px 1px #838383;
}





/***************
*
*  5. Fullscreen button
*
****************/

.rsDefault .rsFullscreenBtn
{
    position: absolute;
    z-index: 22;
    top: 0;
    right: 0;

    display: block;

    width: 44px;
    height: 44px;

    cursor: pointer;
}
.rsDefault .rsFullscreenIcn
{
    display: block;

    width: 32px;
    height: 32px;
    margin: 6px;

    border-radius: 2px;
    background: url('images/rs-default.png') 0 0;
    background-color: #000;
    background-color: rgba(0,0,0,.75);

    *background-color: #000;
}
.rsDefault .rsFullscreenIcn:hover
{
    background-color: rgba(0,0,0,.9);
}
.rsDefault.rsFullscreen .rsFullscreenIcn
{
    background-position: -32px 0;
}





/***************
*
*  6. Play/close video button
*
****************/

.rsDefault .rsPlayBtn
{
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}
.rsDefault .rsPlayBtnIcon
{
    display: block;

    width: 64px;
    height: 64px;

    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 4px;
    background: url(images/rs-default.png) no-repeat 0 -32px;
    background-color: #000;
    background-color: rgba(0,0,0,.75);

    *background-color: #000;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon
{
    background-color: rgba(0,0,0,.9);
}
.rsDefault .rsBtnCenterer
{
    position: absolute;
    top: 50%;
    left: 50%;
}
.rsDefault .rsCloseVideoBtn
{
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;

    width: 44px;
    height: 44px;

    cursor: pointer;
    -webkit-transform: translateZ(0);

    -webkit-backface-visibility: hidden;
}
.rsDefault .rsCloseVideoBtn.rsiOSBtn
{
    top: -38px;
    right: -6px;
}

.rsDefault .rsCloseVideoIcn
{
    width: 32px;
    height: 32px;
    margin: 6px;

    background: url('images/rs-default.png') -64px 0;
    background-color: #000;
    background-color: rgba(0,0,0,.75);

    *background-color: #000;
}
.rsDefault .rsCloseVideoIcn:hover
{
    background-color: rgba(0,0,0,.9);
}



/***************
*
*  7. Preloader
*
****************/

.rsDefault .rsPreloader
{
    top: 50%;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;

    background-image: url(images/preloader-white.gif);
}




/***************
*
*  8. Global caption
*
****************/
.rsDefault .rsGCaption
{
    font-size: 12px;

    position: absolute;
    bottom: 6px;
    left: 6px;

    float: none;

    width: auto;
    padding: 2px 8px;

    text-align: left;

    color: #fff;
    border-radius: 2px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .75);
}
