#langues {
    float: right;
}

#langues li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-indent: 0;
}

#langues a {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    display: block;
    padding: 6px 14px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    text-decoration: none;
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 1);
    background-color: #212121;
}

#langues a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
