.texte {
    overflow: hidden;
    text-align: justify;
}

.contenu {
    overflow: hidden;
}

.texte b,
.texte strong {
    color: rgba(0,79,159,1);
}

.filesAndLInks {
    color: rgba(0,79,159,1);
}

.filesAndLInks a {
    font-size: .9em;
    text-decoration: none;
    color: rgba(227,6,19,1);
}

.filesAndLInks a:hover {
    text-decoration: none;
    color: rgba(227,6,19,.5);
}

.listFiles {
    border-right: 2px solid #fff;
    background-color: rgba(224,238,252,1);
}

.listLinks {
    border-right: 2px solid #fff;
    background-color: rgba(224,238,252,1);
}

.listImages .image {
    overflow: hidden;
    height: 150px;
}

.listImages .image1 {
    height: 400px;
}

.listImages .image2 {
    height: 250px;
}

.listVideos .video {
    overflow: hidden;
    height: 300px;
}

.listVideos .video1 {
    height: 300px;
}

.listVideos .video2 {
    height: 300px;
}
